/* ------------------------------------------------*\
                     Reset
\* ------------------------------------------------*/
* {
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box;
}

*:before,
*:after {
   box-sizing: inherit;
}

/* ------------------------------------------------*\
                     Base
\* ------------------------------------------------*/
body {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    color: #ffb20d;
    background-color: rgb(22, 22, 22);
}

body::-webkit-scrollbar {
    display: none;
}

.shell {
    max-width: 1170px;
    width: 90%;
    margin-inline: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------------*\
                     Typography
\* ------------------------------------------------*/

h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* ------------------------------------------------*\
                     Utility
\* ------------------------------------------------*/

.underline,
.gradient {
    position: relative;
}

.underline:after {
    content: '';
    width: 180px;
    border-bottom: 2px solid currentColor;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.gradient:after {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.5));
}

.gradient:before {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    justify-items: center;
    align-items: center;
}

.grid img {
    width: 100%;
}

/* ------------------------------------------------*\
                     Header
\* ------------------------------------------------*/

.header {
    border-bottom: 2px solid #ffb20d;
    margin-bottom: 10vh;
    background-color: rgb(22, 22, 22);
}

.header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav {
    font-size: 24px;
    padding-top: 20px;
}

.nav li {
    display: inline-block;
    transition: 0.35s;
}

.nav li + li {
    margin-left: 30px;
}

.nav li:hover,
.nav li:focus {
    color: #fff;
}

.cart-box {
    position: relative;
}

.cart {
    fill: #ffb20d;
    height: 26px;
    width: 26px;
    transition: 0.35s;
}

.cart:hover {
    fill: #fff;
}

.cart-num {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 12px;
    font-family: 'Changa', sans-serif;
    font-weight: 700;
    width: 16px;
    height: 16px;
    background-color: #ffb20d;
    color: rgb(22, 22, 22);
    border-radius: 50%;
    top: -2.5px;
    right: -6.5px;
}

.logo {
    font-size: 48px;
    font-weight: 700;
    transition: 0.5s;
}

.logo:hover {
    color: #fff;
}

/* ------------------------------------------------*\
                     Hero
\* ------------------------------------------------*/

.hero {
    width: 100%;
    padding-bottom: 100px;
}

.carousel {
    position: relative;
    border: 2px solid #ffb20d;
    min-height: 600px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}


/* ------------------------------------------------*\
                     Carousel
\* ------------------------------------------------*/

.image,
.image-hidden {
    display: none;
    transition: 2s;
}

.active {
    display: block;
    transition: 2s
}

@keyframes fadeInNext{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

/* ------------------------------------------------*\
                     Main
\* ------------------------------------------------*/

.main {
    padding-top: 50px;
}

.product__boxholder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 80px;
}

.product__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(22, 22, 22);
    text-align: center;
    border: 2px solid #ffb20d;
    transition: 1s;
}

.product__box:hover {
    transform: scale(1.1);
    z-index: 1;
}

.product__box img {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffb20d;
}

.product__box h4 {
    font-size: 24px;
    margin-bottom: 40px;
}

.shell-p {
    padding: 0 30px;
}

.buy-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffb20d;
}

.box {
    width: 50%;
    padding: 20px;
    color: rgb(22, 22, 22);
    background-color: #ffb20d;
    border: 2px solid #ffb20d;
    font-weight: 700;
    font-size: 14px;
}

.buy {
    font-family: 'Changa', sans-serif;
    background-color: rgb(22, 22, 22);
    color: #ffb20d;
    transition: 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15.5px 0;
    z-index: 2;
}

.buy:hover,
.buy:focus {
    background-color: #ffb20d;
    color: #fff;
}

/* ------------------------------------------------*\
                     Footer
\* ------------------------------------------------*/

.main__footer {
    border-top: 2px solid #ffb20d;
    padding: 24px;
    font-size: 20px;
    text-align: center;
}

@media (max-width:550px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 10;
    }

    .header__inner {
        display: block;
        text-align: center;
    }

    .nav ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px
    }

    .nav li {
        justify-self: center;
        align-self: center;
    }

    .nav li + li {
        margin-left: 0;
    }

    .hero {
        height: 500px;
        padding-top: 250px;
    }

    .carousel {
        min-height: 200px;
    }

    .product__boxholder {
        grid-template-columns: repeat(2, 1fr);
    }
    .buy {
        font-size: 12px;
        padding: 17.5px 0;
    }
}


/* ------------------------------------------------*\
                     Cart
\* ------------------------------------------------*/

.container__inner {
    display: flex;
}

.shop-list__inner {
    flex: 0 0 70%;
    padding-inline: 20px;
}

/* ------------------------------------------------*\
                     Aside
\* ------------------------------------------------*/

.aside {
    flex: 0 0 30%;
    padding-inline: 20px;
    padding-top: 50px;
    border: 2px solid #ffb20d;
    text-align: center;
}

.aside__entry {
    font-size: 24px;
    margin-bottom: 80px;
}

/* ------------------------------------------------*\
                     Form
\* ------------------------------------------------*/

.label {
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
}

.field {
    width: 100%;
    height: 30px;
    border: 2px solid #ffb20d;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form__row {
    margin-bottom: 20px;
}